BasedOnStyle: Microsoft
AccessModifierOffset: -4
SpaceAfterTemplateKeyword: false
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
