AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: Microsoft
IndentRequires: false
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
